{% extends 'baseapp/base.html' %}

{% load static %}

{% block header %}
			
{{ block.super }}

{% endblock %}

{% block content %}

			<section class="intro_section page_mainslider ds">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="{% static 'images/main_carusel/arenda_techniki.png' %}" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer" data-animation="slideExpandUp">
													<div class="cornered-block">
														<p class="big grey raleway text-uppercase bold">
															Аренда техники
														</p>
														<a href="{% url 'show_rent_objects' category='EQ' %}" class="theme_button color1 topmargin_30">Подробнее</a>
														<div class="bottom-corners"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<img src="{% static 'images/main_carusel/fasadnye_raboty_1.png' %}" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer" data-animation="slideExpandUp">
													<div class="cornered-block">
														<p class="big grey raleway text-uppercase bold">
															Фасадные работы
														</p>
														<a href="{% url 'show_service_object' slug='1866535695' %}" class="theme_button color1 topmargin_30">Подробнее</a>
														<div class="bottom-corners"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<img src="{% static 'images/main_carusel/metalloconstrukcii_1.png' %}" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer" data-animation="slideExpandUp">
													<div class="cornered-block">
														<p class="big grey raleway text-uppercase bold">
															Металлоконструкции
														</p>
														<a href="{% url 'show_service_object' slug='415312430' %}" class="theme_button color1 topmargin_30">Подробнее</a>
														<div class="bottom-corners"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<img src="{% static 'images/main_carusel/stroitelstvo.png' %}" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
												<div class="intro-layer" data-animation="slideExpandUp">
													<div class="cornered-block">
														<p class="big grey raleway text-uppercase bold">
															Строительство
														</p>
														<a href="{% url 'show_service_object' slug='253364982' %}" class="theme_button color1 topmargin_30">Подробнее</a>
														<div class="bottom-corners"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>



			<section class="ds section_padding_110">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="cornered-heading bottommargin_55 media-topmargin">
								<h2 class="text-uppercase bottommargin_0">Фото с объектов</h2>
							</div>
							<p>
								«Сельскохозяйственный комплекс по выращиванию,
								убою и переработке свиней(мясохладобойня). 
									Мясохладобойня мощностью 4,5 млн. голов в год по 
								убою и переработке свиней, в близи н. п.  Черницино, Октябрьского района Курской области 
								2-й этап. 
								Комплекс зданий и сооружений для глубокой переработки мяса производительностью
								4,5 млн. голов в год.» Блок обвалки и упаковки.

							</p>
							<a href="{% url 'show_objects' %}" class="theme_button color1 border_button topmargin_25 bottommargin_0">Все объекты</a>

							<div class="owl-carousel projects-carousel topmargin_40" data-margin="10" data-nav="false" data-items="6" data-themeclass="owl-theme" data-responsive-lg="3">
								{% for object in build_objects %}
								<div class="vertical-item content-absolute">
									<div class="item-media">
										<img src="{{ object.image.object_image.url }}" alt="">
										<div class="media-links p-link">
											<div class="links-wrap">
												<i class="flaticon-arrows-2"></i>
											</div>
											<a class="abs-link" title="" href="#project{{ object.build_object.object_slug }}" data-toggle="tab"></a>
										</div>
									</div>
								</div>
								{% endfor %}

							</div>
						</div>
						<div class="col-md-6">
							<div class="tab-content projects-content">

								{% for object in build_objects %}
								<div class="vertical-item gallery-item content-absolute ds tab-pane {% if forloop.first %} active {% endif %}" id="project{{ object.build_object.object_slug }}" role="tabpanel">
									<div class="item-media">
										<img src="{{ object.image.object_image.url }}" alt="">
										<div class="media-links">
										</div>
									</div>
									<div class="item-content">
										<div class="item-meta">
											<h4 class="text-uppercase">{{ object.build_object.object_title }}</h4>
											<p class="margin_0 grey">
												<em>{{ object.build_object.object_desc }}</em>
											</p>
										</div>
									</div>
								</div>
								{% endfor %}

							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_110 columns_margin_0">
				<div class="container">
					<div class="row">
						<div class="col-md-4 text-center text-md-left to_animate" data-animation="fadeInLeft">
							<div class="cornered-heading bottommargin_60">
								<h2 class="text-uppercase">Наши преимущества</h2>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="teaser media inline-block topmargin_50 features-teaser to_animate" data-animation="pullDown">
								<div class="media-left media-middle">
									<div class="teaser_icon fontsize_36 grey with_background">
										<i class="rt-icon2-key2"></i>
									</div>
								</div>
								<div class="media-body media-middle text-left">
									<h5 class="text-uppercase">
										<a>Гарантия</a>
									</h5>
									<p>Гарантийное сопровождение<br> сроком 3 года</p>
								</div>
							</div>
							<div class="teaser media inline-block topmargin_50 features-teaser to_animate" data-animation="pullDown">
								<div class="media-left media-middle">
									<div class="teaser_icon fontsize_36 grey with_background">
										<i class="rt-icon2-wallet2"></i>
									</div>
								</div>
								<div class="media-body media-middle text-left">
									<h5 class="text-uppercase">
										<a>Экономия</a>
									</h5>
									<p>Оплата только за реально<br> проделанную работу</p>
								</div>
							</div>
							<div class="teaser media inline-block topmargin_50 features-teaser to_animate" data-animation="pullDown">
								<div class="media-left media-middle">
									<div class="teaser_icon fontsize_36 grey with_background">
										<i class="rt-icon2-medal"></i>
									</div>
								</div>
								<div class="media-body media-middle text-left">
									<h5 class="text-uppercase">
										<a>Опыт</a>
									</h5>
									<p>15 лет опыта<br>Более 1500 благодарных клиентов</p>
								</div>
							</div>

						</div>
						<div class="col-md-4 col-sm-6">
							<div class="teaser media inline-block topmargin_50 features-teaser to_animate" data-animation="pullDown">
								<div class="media-left media-middle">
									<div class="teaser_icon fontsize_36 grey with_background">
										<i class="rt-icon2-like"></i>
									</div>
								</div>
								<div class="media-body media-middle text-left">
									<h5 class="text-uppercase">
										<a>Специалисты</a>
									</h5>
									<p>Вежливые и квалифицированные специалисты</p>
								</div>
							</div>
							<div class="teaser media inline-block topmargin_50 features-teaser to_animate" data-animation="pullDown">
								<div class="media-left media-middle">
									<div class="teaser_icon fontsize_36 grey with_background">
										<i class="rt-icon2-calendar4"></i>
									</div>
								</div>
								<div class="media-body media-middle text-left">
									<h5 class="text-uppercase">
										<a>Сроки</a>
									</h5>
									<p>Строительство производится в назначенные сроки</p>
								</div>
							</div>
							<div class="teaser media inline-block topmargin_50 features-teaser to_animate" data-animation="pullDown">
								<div class="media-left media-middle">
									<div class="teaser_icon fontsize_36 grey with_background">
										<i class="rt-icon2-heart"></i>
									</div>
								</div>
								<div class="media-body media-middle text-left">
									<h5 class="text-uppercase">
										<a>Забота</a>
									</h5>
									<p>Мы умеем слышать и помнить то, что хочет клиент</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_top_110 section_padding_bottom_75">
				<div class="container">
					<div class="row">
						<div class="col-md-offset-2 col-md-8 text-center">
							<div class="cornered-heading center-heading bottommargin_40">
								<h2 class="text-uppercase">Наши контакты</h2>
							</div>
						</div>
					</div>
					<div class="row with_shadow topmargin_40 to_animate" data-animation="fadeInDown">
						<div class="col-sm-4 col-lg-offset-1 col-lg-3 text-center">
							<div class="teaser inline-block topmargin_30 bottommargin_20">
								<div class="media-left">
									<div class="teaser_icon size_small grey">
										<i class="flaticon-signs"></i>
									</div>
								</div>
								<div class="media-body text-left">
									<h5 class="text-uppercase fontsize_16 extra-bold">Адрес</h5>
									<p>ул. Родниковая 2-Б, 
										<br> г. Белгород</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4 text-center">
							<div class="teaser inline-block topmargin_30 bottommargin_20">
								<div class="media-left">
									<div class="teaser_icon size_small grey">
										<i class="flaticon-phone-call"></i>
									</div>
								</div>
								<div class="media-body text-left">
									<h5 class="text-uppercase fontsize_16 extra-bold">Телефон</h5>
									<p>
										+7 (4722) 23-19-70
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-lg-3 text-center">
							<div class="teaser inline-block topmargin_30 bottommargin_20">
								<div class="media-left">
									<div class="teaser_icon size_small grey">
										<i class="flaticon-mail"></i>
									</div>
								</div>
								<div class="media-body text-left">
									<h5 class="text-uppercase fontsize_16 ">Email</h5>
									<p class="greylinks">
										<a href="mailto:stroi31@bk.ru">stroi31@bk.ru</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="row topmargin_35 contact-form-container to_animate" data-animation="fadeInUp">
						<div class="col-sm-12 text-center">
							<span class="text-uppercase">Short loin meatloaf</span>
							<h2 class="text-uppercase topmargin_5 bottommargin_25">Contact Form</h2>

							<form class="contact-form row columns_margin_0" method="post" action="/">
								<div class="col-sm-6">
									<div class="contact-form-name form-group">
										<label for="name" class="sr-only">Full Name
											<span class="required">*</span>
										</label>
										<input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Enter your Name">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="contact-form-subject form-group">
										<label for="email" class="sr-only">Email
											<span class="required">*</span>
										</label>
										<input type="text" aria-required="true" size="30" value="" name="subject" id="email" class="form-control" placeholder="Enter your Email">
									</div>
								</div>
								<div class="col-sm-12">
									<div class="contact-form-phone form-group">
										<label for="subject" class="sr-only">Subject
											<span class="required">*</span>
										</label>
										<input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control" placeholder="Enter your Subject">
									</div>
								</div>
								<div class="col-sm-12">

									<div class="contact-form-message form-group">
										<label for="message" class="sr-only">Message</label>
										<textarea aria-required="true" rows="5" cols="45" name="message" id="message" class="form-control" placeholder="Enter your Message..."></textarea>
									</div>
								</div>

								<div class="col-sm-12">
									<div class="contact-form-submit topmargin_10 bottommargin_25">
										<button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button color1 margin_0">Send Message</button>
									</div>
								</div>
							</form>

						</div>
					</div> -->
				</div>
			</section>
			
			<section class="ls section_padding_top_110">
				<div class="container">
					<div class="row">
						<div class="col-md-offset-2 col-md-8 text-center">
							<div class="cornered-heading center-heading bottommargin_40">
								<h2 class="text-uppercase">Наши партнеры</h2>
							</div>
						</div>
					</div>
				</div>
			</section>				

			<section class="cs section_padding_25">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<div class="owl-carousel partners-carousel" data-items="9" data-responsive-lg="6" data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="2" data-margin="0">
								<div class="partner-image partner2">
									<img src="{% static 'images/partners/prlogo.png' %}" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="partner-image partner3">
									<img src="{% static 'images/partners/gazpromlogo.png' %}" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="partner-image partner4">
									<img src="{% static 'images/partners/miratorglogo.png' %}" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="partner-image partner5">
									<img src="{% static 'images/partners/gragr.png' %}" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="partner-image partner6">
									<img src="{% static 'images/partners/rusagro.png' %}" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="partner-image partner7">
									<img src="{% static 'images/partners/zory.png' %}" alt="">
									<div class="media-links">
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}