{% extends 'baseapp/index.html' %}

{% load static %}

{% block header %}

{{ block.super }}

{% endblock %}

{% block content %}

			<section class="intro_section page_mainslider ds">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="{% static 'images/under_construct.png' %}" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>

{% endblock %}